.App {
  text-align: center;
}

.app__header {
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.app__nav {
  display: flex;
  justify-content: space-evenly;
}

.color__nav {
  color: rgba(150, 180, 244, 0.954);
}
